.invalid-image {
    -fx-text-fill: crimson;
}

.connected {
    -fx-fill: green;
}

.disconnected {
    -fx-fill: crimson;
}

.title {
    -fx-font-weight: bold;
}

.header {
    -fx-font-weight: bold;
}

.search-results .table-cell {
    -fx-alignment: center;
    -fx-padding: 2 5 2 5;
}